/*Basic elements*/






h2 {
	
	margin-top:    15px;
	margin-bottom: 15px;
	
}


h1 {
 position: absolute;
 top: 20%;
 left: 40%;
}


ul {
	
	float:left;
	margin-left: 20px;
	margin-bottom: 60px;
	
	
}



/*image_position {
	
	
	positon: relative;
	left: 200px;
	
  }  */
 
img {      

 width: 100px; 
	
  position: absolute;
  left: 61%;
  top: 1.5%;
 

}


#wrapper{

max-width: 630px;
margin: 0 auto;
padding: 0.5%;


}


/*Body elements*/

.after-box {
	
	clear: left;
	
	
}


table, th, td {
    border: 1px solid lightgrey; 
   border-collapse: collapse;
	margin-top: 30px;
	text-align: left;
}

.Experience_table {

border: 1px solid black;

}

	
.box_size1 {
	
  width: 229px;	
  hight: 26px;

}

.box_size2 {
	
  width: 400px;	
  hight: 26px;
}

.colour_cell1 {
	
	background-color: lightgreen;
	
}

.p_layout {
	
	margin-top: 3px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 3px;
	
	
}

.p_layout_space {
	
	border-top: 5px;
	
	margin-top: 3px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 3px;
	
	
}
